html, 
body, * {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
    height: 50rem;
    width: 35rem;
    /* if i want 3 by 3 i could do 30% */
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    margin: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size:cover;
    background-image: url(https://i.pinimg.com/736x/60/fb/e1/60fbe11e23df93fd7e86adbaac38b2fc.jpg);
    
    /* could also space-evenly */
}

@media screen and (max-width: 900px) {
    .card{
        width: 45%;
    }
}
@media screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
    .container {
        flex-direction: column;
    }
}
#card-img {
    width: 150%;
    height: 147%;
    object-fit: cover;
}
#card-header {
    margin-top: 2rem;
    font-size: 4rem;
}
#card-header2 {
    margin-bottom: 10000rem;
    font-size: 2rem;
}
#card-price {
    margin-bottom: 1.2rem;
}
.container {
    width: 90vw;
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}