html, 
body, * {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
    height: 50rem;
    width: 40rem;
    /* if i want 3 by 3 i could do 30% */
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    margin: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-image: url(https://i.pinimg.com/736x/60/fb/e1/60fbe11e23df93fd7e86adbaac38b2fc.jpg)
    /* could also space-evenly */
}
#card-img {
    width: 100%;
    height: 97%;
    object-fit: cover;
}
#card-header {
    margin-top: 3rem;
}
#card-price {
    margin-bottom: 1.2rem;
}
.container {
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}